<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Navbar Design 1</title>
  </head>
  <body>
    <nav>
      <div class="hamburger" (click)="open()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a (click)="profile()">Profile</a></li>
        <li><a (click)="coach()">Coaches list</a></li>
        <li><a (click)="motivation()">Motivation letter</a></li>
        <li><a (click)="notif()">Notification</a></li>
      </ul>
    </nav>
    <script></script>
  </body>
</html>
